<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="main_content">
  <div id="header">
    <div id="logo">
      <%= link_to root_path do %>
      <%= image_tag "logo.jpg" %>
      <% end %>
    </div>
 
     <a><%= link_to "blog", root_path %></a>
     <a><%= link_to "about", about_index_path %></a>
     <a>Email</a>
     <a>Twitter</a>
     <a>Instagrams</a>
     <a><%= link_to "Github", "https://github.com/CodeInnovator"%></a>

  <% if !user_signed_in? %>
  <div id="admin_log">
   <p class="sign_in"><%= link_to "Admin Log In", new_user_session_path %></p>
   </div>
   <% end %>
</div>

<% if current_page?(root_path) %>
    <h1 style="color:brown">All Posts</h1>
    <% elsif current_page?(about_index_path) %>
    <p>About</p>
    <% else %>
    <%= link_to "Back to All Posts", root_path %>
    <% end %>
      <% if user_signed_in? %>
    <div class="buttons">
    <button class="button"><%= link_to "New Post", new_post_path %></button>
    <button class="button"><%= link_to "Log Out", destroy_user_session_path, method: :delete %></button>
    </div>
    <% end %>
 </div>


  <% flash.each do |name, msg| %>
  <%= content_tag(:div, msg, class: "alert") %>
  <% end %>

  <%= yield %>
</div>




</body>
</html>
